<div class="row">
  <div class="container col-xs-10 col-xs-offset-1 div-mate">
<h1 class="heady recipe-head">Add a Recipe</h1>
  <%= bootstrap_form_for @recipe do |c| %>
  <%= c.text_field :name, :placeholder =>"Name it!", :class => 'formstyle' %>
  <%= c.text_field :ingredients, :placeholder =>"Seperate ingredients with commas", :class => 'formstyle' %>
  <%= c.text_area :directions, :placeholder =>"Seperate steps with periods", :class => 'formstyle formstyle1' %>
  <%= c.collection_check_boxes :tag_ids, @tags, :id, :name %>
  <%= c.primary :class => 'btn btn-success', :value => "Add Recipe" %>
  <% end %>
  </div>
</div>