<div class="row">
<div class="container col-xs-10 col-xs-offset-1 div-mate">

    <h1 class="cat-head heady">Sign Up</h1>

    <%= render "layouts/flash" %>

    <%= bootstrap_form_for :user do |f| %>
      <%= f.text_field :email, placeholder: "Enter your email", icon: "user" %>
      <%= f.password_field :password, placeholder: "Create a password", icon: "lock" %>
      <%= f.text_field :name, placeholder: "What's your name?" %>
      <%= f.submit "Sign Up", class: "btn btn-success" %>
    <% end %>

  </div>
</div>
