<div class="row">
<div class="container col-xs-10 col-xs-offset-1 div-mate">


<h1 class="cat-head heady"><%= @current_user.name%>'s Cook Book  <%= link_to "", new_recipe_path, :class=>"btn btn-success glyphicon glyphicon-plus add-rec"%></h1>


<div class="container col-xs-6">

<h2 id="heady2">Personal Recipes:</h2>
<% @recipes.each do |c| %>
<ul id="directions">
  <li class="category-item"><%= link_to c.name, c %></li>
</ul>
<% end %>
</div>


<div class="container col-xs-6">
<h2 id="heady2">Borrowed Recipes:</h2>
<% @favorites.each do |c| %>

<ul id="directions">

  <li class="category-item">
  <%= link_to c.name, c %>
  <%= link_to "x", remove_favorite_path(c.id), :method=>'delete', :class=>"btn btn-danger btn-xs x-but1" %>
  </li>
</ul>


<% end %>
</div>


</div>
</div>


