<div class="row">
<div class="container col-xs-10 col-xs-offset-1 recipe-div div-mate">
<h1 class="heady cat-head">Categories  <%= link_to "", new_tag_path, :class=>"btn btn-success add-cat glyphicon glyphicon-plus" %></h1>

 <%= render "layouts/flash" %>


<% @tags.each do |t| %>

  <h2 class="category-item" >
  <%=  link_to t.name, t %>
  <!-- <%= link_to "edit", edit_tag_path(t.id), :class=>"btn btn-success" %> -->
  <%= link_to "x", t, :method => :delete, :class=>"btn btn-xs btn-danger x-but"%>


</h2>

<% end %>





</div>
</div>

